@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    font-family: Nunito-Sans, sans-serif;
    box-sizing: border-box;
    font-weight: 100;
    scroll-behavior: smooth;
    color: #383838;
        /* outline: 2px solid lightgreen; */
}

body{
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

h1,h2,a{
    text-transform: uppercase;
}

header{
    background: #fff;
    padding: 20px 35px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a{
    font-size: 30px;
    padding: 5px;
    border: 1px solid #383838;
    transition: all .4s;
}

header a:hover{
    border: 1px solid #ffc2c2;
    background-color: #ffc2c2;
} 

.nav-header{
    display: flex;
    gap:20px;
}

.nav-header > a{
    height: fit-content;
    border: none;
    padding: 5px 25px;
    transition: all .4s;
}

.nav-header > a:hover{
    border: none;
    color: #fff;
    background-color: #383838;
    /* background-color: #ffc2c2; */
}

#banner{
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/image\ 1.jpg');
}

h1{
    border: 2px solid #fff;
    padding: 50px 100px;
    color: #fff;
    letter-spacing: 10px;
    font-size: 5rem;
}

#banner > a{
    text-transform: none;
    padding: 10px 35px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    transition: all .5s;
    border: 2px solid #fff;
    background-color: transparent;
}

#banner > a:hover{
    border: 2px solid #ffc2c2;
    background: #ffc2c2;
    color: #383838;
}

.container{
    padding: 35px;
}

h2{
    color: #fff;
    font-size: 35px;
    width: fit-content;
    padding: 10px 35px;
    background-color: #ffc2c2;
}

#shopContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.shop-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shop-item > img{
    width: 15vw;
    height: 45vh;
}

.shop-item > .name{
    font-weight: 600;
}

/* footer */
footer{
    position: relative;
    display: flex;
    padding: 50px 25px;
}

.nav-footer{
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.nav-footer > a{
    background-color: #fff;
    color: #383838;
    padding: 5px 25px 5px 5px;
    transition: all .4s;
}

.nav-footer >a:hover{
    background-color: #ffc2c2;
}

.footer-copy{
    right: 5%;
    position: absolute;
    justify-self: end;
    align-self: flex-end;
    /* color: #fff; */
}


